@charset "UTF-8";

:root {
    --corPrincipal: #EDAFBD;
    --footerHover: #b6838f;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#tela-inicial {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--corPrincipal);
}

header {
    width: 100%;
    height: 200px;
    background-image: url(../Imagens/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--corPrincipal);
    box-shadow: 0px 0px 5px var(--corPrincipal);
    z-index: 1000;
    position: sticky;
    top: 0;
}
nav > a > img {
    width: 30px;
}
nav > a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px;
}
nav > a:hover {
    text-align: center;
    background-color: white;
    color: var(--corPrincipal);
    transition: all .2s;
}
nav > a:not(:hover) {
    transition: all .5s;
}
nav > .menu {
    display: none;
    justify-content: center;
    align-items: center;
}
nav > .menuOpen {
    justify-content: center;
    align-items: center;
}


main {
    width: 100%;
}
main > section {
    height: 450px;
    margin-top: 50px;
}
main > section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main > section > div >.linhaH1 {
    border-bottom: 1px solid var(--corPrincipal);
    margin-top: 10px;
    width: 50px;
}
main > section > iframe {
    height: 400px;
    width: 100%;
    border: none;
}
main > #bannerTransicao {
    width: 100%;
    height: 115px;
    animation: banner 15s infinite;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
@keyframes banner {
    0% {
        background-image: url(../Imagens/banner01.jpg);
    }
    25% {
        background-image: url(../Imagens/banner02.jpg);
    }
    50% {
        background-image: url(../Imagens/banner03.jpg);
    }
    75% {
        background-image: url(../Imagens/banner04.png);
    }
    100% {
        background-image: url(../Imagens/banner01.jpg);
    }
}


.links {
    width: 100%;
    height: 50px;
    text-align: center;
}
.links > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--corPrincipal);
    height: 50px;
    overflow-x: hidden;
}
footer:hover {
    background-color: var(--footerHover);
}
footer > a > img {
    width: 150px;
}


