@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
#tela-inicial {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fecha 3s forwards;
}
@keyframes fecha {
    0% {

    }
    90% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}

#tela-inicial > img {
    animation: apresentacao 2s linear forwards;
}
@keyframes apresentacao {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }
}