@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
#tela-inicial {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#tela-inicial > img {
    animation: apresentacao 3s linear forwards;
}
@keyframes apresentacao {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
        filter: drop-shadow(5px 5px 10px black);
    }
}